html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
h1{
    text-align: center;
    background-color: yellow;
}
#Body{
    background-color: red;
}

table{
    margin-left: 30%;
    border-collapse: collapse;
    border-spacing: 0;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

#newForm{
    background-color: blue;
    color: white;
    display: grid;
    padding: 3px 5px;
    margin-left: 30%;
    margin-right: 35%;
    border-radius: 2px;
    border-style: dotted;
    font-family: 'Nunito', sans-serif;
    font-size: larger;
    border-radius: 4px;
}

td, th{
    border: 1px solid #222;
}

th{
    background-color: blue;
    color: cornsilk;
}

td{
    background-color: darkgreen;
    color: white;
}

h1{
    color: red;
    font-size: xx-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul{
    list-style: none;
}
 ul li
{
    display: inline-block;
    padding: 10px;
    border: 1px  solid black;
    width: 45px;
    height: 20px;
    border-radius:26px
}

 ul li a
{
    text-decoration:blue;
}

ul :hover
{
background-color: black;
color: white;
}

#FieldSet{
    color: white;
    background-color: green;
    font-family: fantasy;
    font-weight: bolder;
}

#addLocation{
    size: 30px;
    background-color: blanchedalmond;
    font-weight: bold;
    font-display: none;
}

#location{
    align-items: center;
}
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }
#Sub{
    background-color: blue; 
    border: none;
    color: white;
    padding: 11px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;border-radius: 50%;
    animation-name: example;
  animation-duration: 4s;
}
#div1{
    background-color: grey;
}