#NAV{
    text-align: center;
    background-color: red;
    color: white;
    border-radius: 1px;
}
#Main{
    padding-left: 7%;
    padding-right: 7%;
    border: 2px  solid black;
    padding-top: 3%;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
.main-images{
    margin-top: 10%;
}
ul li{
    background-color: #ffffff;
}
.main-images{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    filter: drop-shadow();
}